{{! 
Name: login.hbs
Version: 1.0
Author: Alex Ho
Contact: alex.tianzhi.ho@gmail.com
Date: 2024-03-25
Description: Login element used in the header partil header.hbs
}}

{{!-- Login Conditional that checks if session is defined --}}
{{#if session}}
    <div id="loggedin">
        <button type="button" onclick="window.location.href='/profile'">Profile</button>
        <button type="button" onclick="logout()">Logout</button>
    </div>
{{else}}
    <div id="login">
        <form action="/login" method="post">
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <div class="button-container">
                <button type="submit">Login</button>
                <button type="button" onclick="window.location.href='/registration'">Register</button>
            </div>
        </form>
    </div>
{{/if}}

{{!-- Logout script to call POST for /logout in app router --}}
<script>
    function logout() {
        fetch('/logout', {
            method: 'POST',
            credentials: 'same-origin'
        })
        .then(response => {
            if (response.redirected) {
                window.location.href = response.url;
            }
        })
        .catch(error => {
            console.error('Error logging out:', error);
        });
    }
</script>