{{! 
Name: layout.hbs
Version: 1.0
Author: Alex Ho
Contact: alex.tianzhi.ho@gmail.com
Date: 2024-03-25
Description: General layout for pages on express client facing site
}}
<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
