{{! 
Name: error.hbs
Version: 1.0
Author: Alex Ho
Contact: alex.tianzhi.ho@gmail.com
Date: 2024-03-25
Description: Error page
}}
<h1>{{message}}</h1>
<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre>
